<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
                </h3>
                <h2>Create Account</h2>
                <form action="/save">
                    <div class="form-group">
                        <label for="email">Account Name:</label>
                        <input type="text" class="form-control" name="AccountName"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Account Number:</label>
                        <input type="number" class="form-control" name="AccountNumber"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Account Balance:</label>
                        <input type="number" class="form-control" name="AccountBalance"/>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>