<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Show Account</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <h3>Account</h3>
            <h2 th:text="${account.accountName}"></h2>
            <h2 th:text="${account.accountNumber}"></h2>
            <h2 th:text="${account.accountBalance}"></h2>
        </div>
    </body>
</html>